@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap");
/* font-family: 'Manrope', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f6fcff;
  color: black;
}
.root {
  background-color: brown;
}
button {
  border: none;
}

header {
  padding-top: 104px;
}

nav {
  width: 100%;
  position: fixed;
  background-color: #f6fcff;
  z-index: 999;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  font-style: normal;
  color: #4f46ba;
}
sup {
  font-size: 10px;
}
.about .logo {
  color: white;
}
/* nav items */
/* desktop */
@media only screen and (min-width: 1025px) {
  .mobile {
    display: none; /* hide menu icon */
  }
  .desktop {
    display: grid;
  }
}
@media only screen and (max-width: 1024px) {
  .desktop {
    display: none; /* show navigation bar */
  }
  header {
    padding-top: 55px;
  }
}

.layout-container {
  max-width: 1435px;
  margin: 0 auto;
  padding: 20px 40px;
}
.layout-container h1 {
  font-size: 14px;
}
nav .desktop {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.nav-items {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.nav-items a {
  font-weight: 300;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.nav-items a:hover {
  font-size: 16px;
}
.nav-buttons {
  justify-content: end;
}
.get-a-loan {
  background-color: #4f46ba;
  border-radius: 8px;
  color: white;
  padding: 20px 0;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.get-a-loan:hover,
.waitlist:hover {
  opacity: 70%;
}
@media (max-width: 1024px) {
  .get-a-loan,
  .get-started button {
    width: 100%;
  }
}
.waitlist {
  color: #4f46ba;
  font-weight: 500;
  background: transparent;
  padding: 20px 0;
}

/* mobile nav bar */
.mobile-navbar {
  display: flex;
  justify-content: space-between;
}
.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20px;
  z-index: 20;
  padding: 0;
  border: none;
  cursor: pointer;
}

.nav-icon {
  background-color: #000;
  border-radius: 4px;
  height: 2px;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin-top: 5px;
  border: none;
}
.nav-icon:nth-child(1) {
  margin-top: 0;
}
.nav-icon-transformed:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.nav-icon-transformed:nth-child(2) {
  opacity: 0;
}
.nav-icon-transformed:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.mobile-dropdown {
  margin: auto;
  left: 0;
  top: -100vh;
  position: fixed;
  padding: 16px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 100%;
  z-index: 10;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
  padding-top: 5px;
  background-color: #f6fcff;
}
.mobile-dropdown-active {
  top: 56px;
}
.mobile-dropdown .nav-items {
  flex-direction: column;
  align-items: center;
}

/* page 1 */
header {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
header .layout-container,
.our-process .layout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.side-img {
  display: flex;
  justify-content: center;
}
.side-img img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  header,
  .our-process {
    font-size: 1rem;
  }

  .header-text h1,
  .our-process h1,
  .download h1 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .our-process h3,
  .download h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  header,
  .our-process {
    font-size: 1rem;
  }

  .header-text h1,
  .our-process h1,
  .download h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .our-process h3,
  .download h3 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.micro-text {
  padding: 10px;
  color: #64607d;
  font-weight: 600;
  font-size: 1.125rem;
  background: rgba(77, 82, 255, 0.06);
  border-radius: 5px;
  width: fit-content;
}

.button-container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
@media (max-width: 1024px) {
  header .layout-container,
  .our-process .layout-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 20px 24px;
  }
  .button-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

.banner {
  text-align: center;
  background-color: #4f46ba;
  color: white;
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .banner {
    font-size: 1rem;
    padding: 5px;
  }

  .banner h1 {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    font-size: 1.2rem;
    padding: 40px;
  }

  .banner h1 {
    font-size: 4rem;
    font-weight: bold;
  }
}

.our-process {
  margin-top: 40px;
  margin-bottom: 40px;
}
.our-process h1 {
  text-align: center;
}

.steps {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.steps-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.steps-item h6 {
  font-weight: 700;
  margin-bottom: 2px;
}
.steps-item p {
  color: #757095;
  font-size: 14px;
  max-width: 400px;
}


@media (max-width: 658px) {
  .steps {
    gap: 16px;
  }
}

.download {
  margin-top: 40px;
  margin-bottom: 40px;
}
.download .layout-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
  align-items: center;
}

.download-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.download-text div {
  display: flex;
  gap: 20px;
}
.download-text button {
  gap: 8px;
  align-items: center;
}
.playstore {
  background-color: #ff7f5c;
}

@media (max-width: 1024px) {
  .download .layout-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .download-text div {
    flex-direction: column;
    gap: 16px;
  }
}

.get-started {
  color: white;
  max-width: 1435px;
  margin: 0 auto;
  padding: 20px 40px;
  z-index: 10;
}

.get-started-banner {
  background-color: #4f46ba;
  border-radius: 16px;
  padding: 24px 30px;
  height: 302px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  position: relative;
  overflow: hidden;
}

.get-started-banner-img {
  position: absolute;
  right: 0;
  top: 0;
}
.get-started-banner-transparent {
  position: absolute;
  right: 200px;
  top: 53px;
}
.get-started button {
  border: 1px solid #4f46ba;
  background-color: white;
  border-radius: 8px;
  color: #4f46ba;
  padding: 20px 0;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 16px;
}
@media screen and (max-width: 1024px) {
  .get-started {
    background: white;
    padding: 30px, 40px;
  }
  .get-started-banner-img {
    display: none;
  }

  .get-started-banner-transparent {
    display: none;
  }
  .get-started-banner {
    background: white;
    color: black;
    height: fit-content;
    padding: 0;
    border-radius: 0;
  }
}
@media screen and (max-width: 1024px) {
  .get-started-banner {
    font-size: 1rem;
  }

  .get-started-banner h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .get-started-banner h6 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .get-started-banner {
    font-size: 1.2rem;
  }

  .get-started-banner h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .get-started-banner h6 {
    font-size: 1.1rem;
    font-weight: 500;
    width: 716px;
  }
}

/* //footer */
/* Footer styles */
/* Four-column footer */

footer {
  background-color: #4f46ba;
  color: white;
  padding: 30px 0;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 25%;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.footer-column li {
  margin-bottom: 5px;
}

.footer-column a {
  color: white;
}

/* Accordion for mobile */

@media (max-width: 1024px) {
  .footer-columns {
    flex-direction: column;
  }

  .footer-column {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  /* .footer-column:not(:last-child) {
    /* border-bottom: 1px solid #ddd; */
  /* } */
  */ .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }

  .accordion-header h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .accordion-icon {
    transition: transform 0.3s ease-in-out;
  }

  .accordion-icon.closed {
    transform: rotate(180deg);
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .accordion-content ul {
    padding: 0 10px;
  }

  .accordion-content li {
    margin-bottom: 5px;
  }
}

.footer-note {
  font-size: 20px;
  font-weight: 500;
  padding: 16px 0;
}

.copyright {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* about us */
.about nav {
  background-color: #4f46ba;
  color: white;
}
.about .get-a-loan {
  border: 1px solid #4f46ba;
  background-color: white;
  color: #4f46ba;
}
.about .waitlist {
  color: white;
}

.about .nav-icon {
  background-color: white;
}
.about .nav-items a {
  color: white;
}

.about .mobile-dropdown {
  background-color: #4f46ba;
  color: white;
}
.about header {
  margin-bottom: 0;
}
.about header .header-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.about header .header-text p {
  font-weight: 300;
}
.about header .header-text h1 {
  font-weight: 400;
}

.about header {
  background-color: #4f46ba;
  color: white;
}

.about .layout-container {
  grid-template-columns: 1fr;
}

.team .board {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.team {
  background-color: white;
}
.team p {
  color: #777777;
  font-size: 16px;
}
.team .header,
.value .header {
  color: black;
  font-size: 38px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .team,
  .value {
    font-size: 1rem;
  }

  .team .header,
  .value .header {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  .team-profile h6 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .team,
  .value {
    font-size: 1.2rem;
  }

  .team .header,
  .value .header {
    font-size: 2rem;
  }
  .team-profile h6 {
    font-size: 1.5rem;
  }
}

.team,
.value {
  padding-top: 40px;
  padding-bottom: 20px;
}
.team-profile-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-profile-img {
  width: 300px;
  height: 354px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .team-profile-container {
    gap: 24px;
  }
}

.tpi {
  width: 210px;
  height: 236px;
}

.value {
  background: #4f46ba;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}
@media screen and (max-width: 1024px) {
  .value {
    padding-left: 0;
    padding-right: 0;
  }
}

.value .header {
  color: white;
}
.value .title {
  max-width: 800px;
}

.value-item-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  .value-item-container {
    gap: 20px;
  }
  .value-item {
    gap: 16px;
  }
}

.value-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
}

@media (max-width: 1024px) {
  .value-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .value-item img {
width: 100px;
  }
}
.value-item h5 {
  font-size: 24px;
}
.value-item p {
  font-size: 16px;
}
.value-item div {
  display: flex;
  flex-direction: column;
  max-width: 602px;
}
